# Mix / Elixir
/_build/
deps/
erl_crash.dump
*.beam
/.elixir_ls/

# Tests / cobertura
/cover/

# Node (Phoenix assets)
assets/node_modules/
assets/.parcel-cache/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Phoenix estáticos generados
/priv/static/assets/
# (Phoenix generaba esto en versiones antiguas)
# /priv/static/cache_manifest.json

# DB SQLite (dev/test/prod locales)
priv/repo/*.db
priv/repo/*.db-shm
priv/repo/*.db-wal

# Otros
.DS_Store
